<div class="container-full-bg" style="background-image:url('http://cf.ltkcdn.net/garden/images/slide/148994-849x565-lettuce-2.jpg');">
      <div class="container special">
        <div class="jumbotron"><center>
          <h2>About Us</h2>
          <p>Welcome to a social platform geared towards 'foods' that build and grow our bodies, minds, and community.</p></center>
        </div>
      </div>
 </div>

 <hr class="featurette-divider">

<div class="well well-lg">
<h4><center>Food for My Neighbors is about <%= link_to "food for thought", education_path %>, <%= link_to "food for well-being", pantry_path %>, and <%= link_to "food for our souls", community_path %>.</p>

<p>Take some time to browse the site and find out more on various topics such as: #FoodIsFree locations, Farmer's markets, gardening tips/tricks, hand/homemade items, and permaculture ideas.  

<p>Our goal is to help our neighbors live a healthier, simpler, and more sustainable life.</center></p>
<br><br>
<p><center>GET OUTSIDE, SOCIALIZE WITH YOUR NEIGHBORS, AND PLANT!</center></p></h4></div>

<div class="container-fluid">
<h1>So... if it's not just about food, than what is it?</h1>
<p>Food has many ways of fulfilling us, not just our bellies, but our mind, soul, and community.  We are what we consume so do not forget about the food we call knowledge, understanding, nature, and socializing!</p>

<p>Food for My Neighbors is many things, but above all it is a place you can come, discover farm fresh foods, services, information to get you thinking, and a place to show what you've been doing in your community.  If you have homemade items, fresh foods, or even a roadside stand, let us know!  Go right into our <%= link_to "Pantry", pantry_path %> page and post your goods or services!  Maybe you want to post about what your farm offers folks, go right ahead!  Maybe you are just looking to find some organic vegetables, take a look in the <%= link_to "Pantry", pantry_path %>.  You never know what goodies you might find!</p>

<h1>Where do I start?</h1>
<p>I'll start with the reason for this site, I love to teach, inform, learn, and show off!  I love to grow my own foods and I have natural attraction to gardening.  I am, by trade an educator, but I am currently on hiatus raising my two babies who are growing like weeds---or plants, since I wouldn't pull these cute buggers!</p>  

<p>Beyond the teaching aspect, I have grown to love researching about health and how foods and other natural items can hurt or help our bodies.  Since the discovery that I was lactose intolerant among other stomach related issues, I have spent many hours looking up how to heal myself without the need for modern medicine.  Food was both my savior and what created my issues.  Recently I have come across a documentary that I had not watched in a while.  If you do not know where your food comes from or what is in it, you NEED to watch <%= link_to "Food Inc.", education_path %>!  Hands down, it will get you thinking and hopefully changing a few habits.</p>






</div>

<div class="container-fluid">
	<h1>About My Family and Me</h1>
<p>Well, about me, I am a jack of all trades, but mostly I am looking for a more simple life than I've already lived.  This simpler life came in the form of backyard gardens and the dream of owning property that would benefit our family and our community.  This opportunity is becoming a reality as we are close to closing on a nearly 80 acre wooded lot with wonderful home.  The new land offers an apple orchard, ample garden space, hardwood maples for syrup or lumber.  The land houses three deer blinds on deer migration routes along with opportunity for hunting bear and trout fishing in the nearby Fox River.</p>

<p>This is truly the chance of a lifetime home for my family.  We have all worked hard, sacrificing for this moment.  We are truly blessed to be able to reap what we have sewn and share it with all of you.</p>

<p>What was the hectic life before this, you wonder?  I am an educator at heart and was by trade for five years.  Although I do love to teach and open minds to the wonders of the world, I felt I needed a different platform in which to utilize my talents.  This website and my farm will be my new platform.  Next year my husband and I have some big plans in the works to become an amazing asset to our community.</p>

<p>My family consists of my husband, our two young children, a future puppy, and myself.  Including all the bugs and animals in the world and imaginative world, that makes quite a few of us!</p>
</div>



<hr class="featurette-divider">


<div class="container">
<h1>Contact Us</h1>

<p>Currently you may contact us by email.</p>
	<address>
	  <strong>Food for My Neighbors Support</strong><br>
	  <a href="mailto:#">foodformyneighbors@outlook.com</a>
	</address>
</div>